.visually-hidden{
  display: none;
}

/*FONTS*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*MAIN-BLOCK*/
html {
  height: 100%;
}

body {
  margin: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #E5E5E5;
}

.header {
  margin: 0 auto;
  width: 1200px;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
}

.navigation-list{
  width: 531px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 25.88px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.social-list {
  width: 240px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.partner {
  max-width: 240px;
  margin-left: auto;
}

.contacts {
  margin-left: auto;
  margin-right: auto;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
}

.main-container{
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.button {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-want, .button-additional {
  font-size: 16px;
  line-height: 20.7px;
  background-color: #756257;
}

.button-book {
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
}

.button-subscribe {
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
}

.button-apply, .button-favourites {
  font-size: 16px;
  line-height: 20.7px;
  background-color: #83B3D3;
}

.button-reset {
  font-size: 16px;
  line-height: 20.7px;
}

.pagination-show-more {
  font-size: 20px;
  line-height: 25.88px;
  background-color: #83B3D3;
}

.img-text {
  width: 1200px;
  height: 485px;
  color: #000000;
  background-color: #FFFFFF;
  background:
    url("../img/main-logo-div.svg") no-repeat 0 100%,
    url("../img/main-logo-bg.jpg") no-repeat 0 0;
  background-size: 100% auto;
  display: flex;
  justify-content: center;

}

.main-logo-welc{
  margin: 51px 0 0 0;
}

.arguments, .booking {
  text-align: center;
  background-color: #FFFFFF;
}

.main-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

.main-subheader {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}



.main-argument {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.argument-title{
  width: 400px;
  margin-top: auto;
  margin-bottom : auto;
}

.first-subargument-title, .other-argument-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.first-subargument-description, .other-argument-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}


.first-subargument-list, .other-argument-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.first-subargument-item, .other-argument-item {
  width: 400px;
  height: 384px;
}

.reserve-title, .subscribe-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.reserve-description, .subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-index{
  width: 1200px;
  height: 411px;
  color: #FFFFFF;
  background-color: #83B3D3;
  background: url("../img/subscribe-bg.jpg") no-repeat;
  background-size: 100% auto;
}

.subscribe{
  background-color: #FFFFFF;
  text-align: center;
}

.catalog-outer-header {
  width: 1200px;
  height: 408px;
  color: #FFFFFF;
  background-color: #83B3D3;
  background: url("../img/catalog-filter-bg.jpg") no-repeat;
  background-size: 100% auto;
}

.catalog-object {
  background-color: #FFFFFF;
}

.catalog-products {
  display: flex;
}

.breadcrumbs {
  width: 240px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.catalog-filter-form{
  display: flex;
}

.catalog-filter{
  margin-top: 45px;
}
.filter-buttons {
  display: flex;
  flex-direction: column;
}


.hotel-head {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.06px;
}

.hotel-title {
  font-size: 18px;
  line-height: 23.29px;
}

.rating-text {
  font-size: 16px;
  line-height: 20.7px;
  background-color: #F2F2F2;
  color: #333333;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 25.88px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  font-size: 20px;
  line-height: 25.88px;
}



